button {
  outline: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-weight: normal;
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 2em 1.5em;
  background-color: blanchedalmond;
}

.navbar-logo {
  color: seagreen;
}

.navbar-title {
  margin: 0 0.5em;
}

.navbar-total {
  background-color: seagreen;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.habits {
  margin: 2em 1em;
}

.add-input {
  font-size: 2rem;
  margin-right: 0.2em;
}

.add-button {
  background-color: seagreen;
  font-size: 1.5rem;
  padding: 0.3em 0.5em;
  color: white;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.habits-reset {
  background-color: seagreen;
  font-size: 1.5rem;
  color: white;
  padding: 0.2em 1em;
}